.uploadBtn {
  margin: 30px;
}

.opeBtn {
  background-color: #006b54;
  margin: 30px;
  color: aliceblue;
}
.top {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
}

.tag {
    margin: 10px 0;
    height: 80px;
    background-color: rgb(0, 83, 7) !important;
    color: white;
    line-height: 80px;
}
.btn-background {
    background-color:rgb(0, 83, 7) !important;
    border-color: rgb(153, 190, 173) !important ;
    padding: 0 20px;
    line-height: 60px;
    font-weight: 600;
    font-size: 32px;
    height: 60px;
    width: 140px;
    color:azure;
}

.card-content {
    box-shadow: var(--stereoscopic-box-shadow);
    border-radius: var(--stereoscopic-border-radius);
  }
  .btn {
    margin-left: 72px;
    width: 100%;
    border: var(--first-theme-color) !important;
    background-color: var(--first-theme-color) !important;
  }
  .btn:hover {
    background-color: var(--first-theme-color) !important;
  }
  .top-name {
    margin: 5px 0 15px;
    text-align: center;
    font-size: var(--emphasize-font-size);
    color: var(--first-theme-color);
  }
.container{
  height: 100%;
  width: 700rpx;
  margin:10rpx auto;
}
.title{
  position: relative;
  margin-bottom: 12px;
  margin-left: 12px;
  border-left:solid;
  border-size: 5px;
  border-color:rgb(0, 83, 7) ;
  padding-left: 12px;
  color: #6a6a77;
  font-size: 30px;
  font-weight: 700;
  line-height:30px;
}