
.pass-btn {
    height: 100rpx;
    width: 114rpx;
    padding: 2rpx 10rpx;
    position: absolute;
    top:10rpx;
    right:5rpx;
    color: white !important;
    margin:10px 0;
    background-color: rgb(0, 83, 7) !important;
    border-color: rgb(0, 83, 7) !important ;
  }
.pass-btn:hover{
    height: 100rpx;
    width: 114rpx;
    padding: 2rpx 10rpx;
    position: absolute;
    top:10rpx;
    right:5rpx;
    color: white !important;
    margin:10rpx 0;
    background-color: rgb(0, 83, 7) !important;
    border-color: rgb(249, 99, 5) !important ;
  }