.projectView-container{
  width:750rpx;
  height:1500rpx;
  overflow-y: scroll;
  // background-color: black;
}
.project-title{
    height: 90rpx;
    font-size: 36px;
    font-weight: 550;
    color: rgb(0, 83, 7);
    position: absolute;
    left: 20%;
  }
  .projectView-title-wrp{
    height: 90rpx;  
  }
.at-tabs__body{
  height:1500rpx;
  padding:'20px 0'
}