.technologyTable-container{
    height: 120%;
}
.technologyTable-header{
    display: flex;
}
.technologyTable-header{
    /* font-size: 16px; */
    border: 1px solid #F0F0F0;
    border-left: none;
    text-align: center;
    padding: 15px 0;
    background-color: #FAFAFA;
    color: black;
}
.technologyTable-header :nth-child(1){
    width: 10%;
}
.technologyTable-header :nth-child(2){
    width: 20%;
}
.technologyTable-header :nth-child(3){
    width: 20%;
}
.technologyTable-header :nth-child(4){
    width: 25%;
}
.technologyTable-header :nth-child(5){
    width: 25%;
    border-right: none;
}
.technologyTable-empty{
    box-shadow: 0 10px 5px rgb(211, 208, 208);
    padding:10% 20%;
}
.technologyTable-empty-tip{
    font-size:36rpx;
    font-weight: 400;     
}
.example {
    padding: 30px 50px;
    text-align: center;
    border-radius: 4px;
}
.technologyTable-table{
    height: 100%;
    overflow-y: scroll;
}
.technologyTable-item{
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
}
.technologyTable-item View{
    border-right: 1px solid aliceblue;
    text-align: center;
    padding: 15px 5px;
    background-color: #FAFAFA;
    /* font-weight: 600; */
}

.technologyTable-item View:nth-child(1){
    width: 10%;
}
.technologyTable-item View:nth-child(2){
    width: 20%;
}
.technologyTable-item View:nth-child(3){
    width: 20%;
}
.technologyTable-item View:nth-child(4){
    width: 25%;
}
.technologyTable-item View:nth-child(5){
    width: 25%;
    border-right: none;
}
.btn-background{
    background-color: var(--first-theme-color)!important;
    border: none !important;
}
.signature-container{
    display: flex;
    height: 400px;
    background-color: #FAFAFA;
}
.signature-title{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center
}
.signature-title View{
    width: 10%;    
    font-size: 16px;
}
.signature-input{
    width: 90%;
}

.opinion{
    height: 200px;
    border: 1px solid #F0F0F0;
}
.title{
    padding-left: 6px;
    padding-top: 6px;
    height: 10%;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}
.all-content{
    padding: 0 10%;
}
/* .signature-input View TextArea{
    height: 200px;
    outline: none !important;
    border: 1px solid #F0F0F0 !important;
    transition: none !important;
}

.signature-input View TextArea:focus{
    box-shadow: none !important;
    outline: none!important;
    border: none !important;
    transition: none !important;
}

.signature-input View TextArea:hover{
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
    transition: none !important;
} */
