.num-color{
    color: var(--success-color);
    font-size: var(--emphasize-font-size);
}

.num1-color{
    color: var(--warning-color);
    font-size: var(--emphasize-font-size);
}

.reply{
    color: var(--error-color);
}

.approval{
    color: var(--warning-color);
}

.solve{
    color: var(--success-color);
}