.num-color{
    color: var(--success-color);
    font-size: var(--emphasize-font-size);
}

.num1-color{
    color: var(--warning-color);
    font-size: var(--emphasize-font-size);
}

.reply{
    color: var(--error-color);
}

.approval{
    color: var(--warning-color);
}

.solve{
    color: var(--success-color);
}
.issueListTable{
    height:1200rpx; 
    width:750rpx;
}
.issueListTable-title{
    display: flex;
    flex-flow: inline;
    background-color: #e2f6f2;
    height:50rpx;
    width:690rpx;
    margin:2% 4%;
    padding: 3% 1%;
    border-radius: 16rpx; 
    box-shadow: 2rpx 4rpx 10rpx #d5d5d5;
}
.issueListTable-tabs{
    height:90%; 
    width:690rpx;
    overflow-y: stroll;
}